<!DOCTYPE html>

<html>
<head runat="server">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../css/style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Admin - Dashboard</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <style>

.cards {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.li_active{
    background-color: #ffe599;
}
.gradient {
    background: linear-gradient(90deg, rgba(67,155,255,1) 35%, rgba(107,176,255,1) 100%)
}

.gradient2 {
    background: linear-gradient(90deg, rgba(62,219,188,1) 35%, rgba(107,219,196,1) 100%)
}

.gradient3 {
    background: linear-gradient(90deg, rgba(255,188,92,1) 35%, rgba(255,202,124,1) 100%)
}

.gradient4 {
    background: linear-gradient(90deg, rgba(255,86,114,1) 35%, rgba(255,131,152,1) 100%)
}
        </style>
</head>
<body>
    <div class="bg-blue-500 w-full p-2 h-12 flex items-center" style="background: linear-gradient(to bottom,#ffbf00 0,rgba(255,191,0,.8) 50%,#ffbf00 100%);"    >
        <div>
            <p class="pl-10 text-white font-semibold text-xl" >Cab Driver Dashboard</p>
        </div>
        <div class="ml-auto flex">
            <p class="pr-2 text-white font-semibold">(Cab Driver)</p>
            <a href="/cab_login"> 
            <img
                class="pr-4 cursor-pointer"
                src="https://img.icons8.com/ios-glyphs/25/FFFFFF/logout-rounded-left.png" />
            </a>
        </div>
    </div>
    <div class="flex overflow-hidden">
        <div class="w-[13%]" style="height: calc(100vh - 3rem)">
            <ul class="space-y-3 h-full bg-white">
                <li onclick="showTab()" id="link1" class="px-4 pt-4 pb-2 flex items-center hover:bg-gray-300 cursor-pointer">
                    <a class="flex items-center" href="/cab_dashboard" >
                        <img
                            src="https://img.icons8.com/material-sharp/25/707070/home-page.png" />
                        <span class="text-md font-semibold text-gray-700 pl-2">Dashboard</span>
                    </a>
                </li>
                <li onclick="showTab()" id="link1" class="px-4 pt-4 pb-2 flex items-center hover:bg-gray-300 cursor-pointer">
                    <a href="/cab_history" class="flex items-center" href="/cab_dashboard" >
                        <span class="text-md font-semibold text-gray-700 pl-2">Trip History</span>
                    </a>
                </li>
                <!-- <li onclick="showTab1()" id="link2"  class="px-4 py-2 flex items-center hover:bg-gray-300 cursor-pointer">
                    <a class="flex items-center" >
                        <img src="https://img.icons8.com/ios-glyphs/25/707070/car-service.png"/>
                        
                        <span class="text-md font-semibold text-gray-700 pl-2">Car Catergory</span>
                    </a>
                </li>
                <li onclick="showTab2()" id="link3" class="px-4 py-2 flex items-center hover:bg-gray-300 cursor-pointer">
                    <a class="flex items-center" >
                        <img src="https://img.icons8.com/glyph-neue/25/707070/car.png"/>
                        <span class="text-md font-semibold text-gray-700 pl-2">CARS</span>
                    </a>
                </li>
                <li onclick="showTab3()" id="link4" class="px-4 py-2 flex items-center hover:bg-gray-300 cursor-pointer">
                    <a class="flex items-center" >
                        <img src="https://img.icons8.com/ios-filled/25/707070/banknotes.png"/>
                        <span class="text-md font-semibold text-gray-700 pl-2">Fair</span>
                    </a>
                </li> -->
               
            </ul>
        </div>
            <div id="card1" class="bg-slate-200 w-[83.5em]" style="height: calc(100vh - 3rem);display: block;">
                <div class="p-2">
                    <div class="px-3 py-2 cards">
            
                        
                                <div class="rounded-md shadow-lg gradient">
                                    <div class="text-center text-white">
                                        <p class="p-3 font-semibold text-2xl">Total Trips</p>
                                        <p class="p-3 font-light text-xl">{{total_trips}}</p>
                                    </div>
                                </div>

                        <!-- <div class="gradient2 rounded-md shadow-lg">
                            <div class="text-center text-white">
                                <p class="p-3 font-semibold text-2xl">Total Catergory</p>
                                <p class="p-3 font-light text-xl">{{cat_count}}</p>
                            </div>
                        </div> -->
                    </div>
                    <div class="px-3 py-2">
                        <div class="mt-4 bg-white rounded-md shadow-lg p-2">
                            <div class="w-full flex justify-between">
                                <p class="text-gray-600 font-bold text-md p-3">
                                    Live Booking
                                </p>
                                    
                            </div>
                            <div class="w-full mt-2 p-3">
                                <div class="overflow-y-auto" style="height: calc(100vh - 20rem)">
                                    <div style="display:flex;flex-wrap:wrap;">
                                            {% for i in bookings %}
                                                <form action="/accept_cab" method="POST">
                                                    {% csrf_token %}
                                                    <div style="width:300px;margin:10px;background-color:#fff;border:1px solid #ccc;padding:10px;border-radius:5px;">
                                                        <h2 style="font-size:24px;">Booking ID: {{i.0}}</h2>
                                                        <input type="hidden" name="booking_id" value="{{i.0}}">
                                                        <p style="font-size:18px;">Pick up: {{i.1}}</p>
                                                        <p style="font-size:18px;">Destination: {{i.2}}</p>
                                                        <p style="font-size:18px;">Booking Date:{{i.3}}</p>
                                                       
                                                        <input type="submit" style="background-color:#4CAF50;border:none;color:#fff;padding:10px;border-radius:5px;" value="Accept Booking">
                                                    </div>
                                                </form>
                                            {% endfor %}
                                            {% if current_trip %}
                                                <h2 style="font-size: xx-large;">Current Trip from {{current_trip.1}} to {{current_trip.2}} started on {{current_trip.3}} </h2>
                                                &nbsp;&nbsp;
                                                <form action="/end_trip" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="booking_id" value="{{current_trip.0}}">
                                                    <input type="submit" style="background-color:#ff0000;border:none;color:#fff;padding:10px;border-radius:5px;" value="End Trip">
                                                </form>
                                            {% endif %}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
           
            
            
    </div>
    <script type="text/javascript">
        function logout() {
            alert('hello')
        }

        function showTab() {
          if ($('#card1').css('display') == 'none') {
            $("#card1").css("display", 'block');
            $("#link1").addClass("li_active");
            $("#card2").css("display", 'none');
            $("#link2").removeClass("li_active");
            $("#card3").css("display", 'none');
            $("#link3").removeClass("li_active");
            $("#card4").css("display", 'none');
            $("#link4").removeClass("li_active");
           
          }
          
        }

        function showTab1() {
          
          if ($('#card2').css('display') == 'none') {
            $("#link2").addClass("li_active");
            $("#card2").css("display", 'block');
            $("#card1").css("display", 'none');
            $("#link1").removeClass("li_active");
            $("#card3").css("display", 'none');
            $("#link3").removeClass("li_active");
            $("#card4").css("display", 'none');
            $("#link4").removeClass("li_active");
           
    }

}
        function showTab2() {
          
          if ($('#card3').css('display') == 'none') {
            $("#link3").addClass("li_active");
            $("#card3").css("display", 'block');
            $("#card1").css("display", 'none');
            $("#link1").removeClass("li_active");
            $("#card2").css("display", 'none');
            $("#link2").removeClass("li_active");
            $("#card4").css("display", 'none');
            $("#link4").removeClass("li_active");
           
    }

}

        function showTab3() {
          
          if ($('#card4').css('display') == 'none') {
            $("#link4").addClass("li_active");
            $("#card4").css("display", 'block');
            $("#card1").css("display", 'none');
            $("#link1").removeClass("li_active");
            $("#card2").css("display", 'none');
            $("#link2").removeClass("li_active");
            $("#card3").css("display", 'none');
            $("#link3").removeClass("li_active");
           
    }

}
    </script>
</body>
</html>