<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="login_main">
      <div class="outer_div">
        <p
          style="
            margin: 10px 0px;
            text-align: center;
            font-size: 25px;
            font-weight: bold;
            color: #777;
          "
        >
          Cab Driver Welcome Back !
        </p>
        <div class="inner_div">
          <form action="" method="post">
            {% csrf_token %}
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: center;
              "
            >
              <div style="border: 1px solid #e3e2e2; padding: 4px">
                <img
                  src="https://img.icons8.com/ios-glyphs/24/ffbf00/new-post.png"
                />
              </div>
              <input
                type="email"
                class="input_fields"
                required
                placeholder="Enter Email ID"
                name="email"
                id="email"
              />
            </div>
            <div
              style="
                display: flex;
                margin-top: 10px;
                align-items: center;
                justify-content: center;
              "
            >
              <div style="border: 1px solid #e3e2e2; padding: 4px">
                <img
                  src="https://img.icons8.com/ios-filled/24/ffbf00/password.png"
                />
              </div>
              <input
                type="password"
                class="input_fields"
                required
                placeholder="Enter Password"
                name="password"
                id="password"
              />
            </div>
            <button class="hero-btn">Login</button>
            <p style="text-align: center; margin-top: 20px; color: #777">
              Create new account
              <span><a href="/signup_cab" style="color: #ffbf00">Sign Up </a></span>
            </p>
          </form>
          {{ error_msg }}
        </div>
      </div>
    </div>

  </body>
</html>
